.section
  .title Hair Care
  .content
    .row
      .desc Shampoo, Cut Style
      .price $50+
    .row
      .desc Hair Styling
      .price $30+
    .row
      .desc Special Evening Style
      .price $60+
    .row
      .desc Bridal Evening Style
      .price $70+
    .row
      .desc Men's Haircut
      .price $25
    .row
      .desc Kid's Haircut
      .price $25
    .row
      .desc Perms
      .price $75+
    .row
      .desc Single Process Color
      .price $60
    .row
      .desc Full Foil Highlights or Lowlights
      .price $80+
    .row
      .desc Partial Foil Highlights or Lowlights
      .price $60+
    .row
      .desc Hair and Scalp Wellness Treatment
      .price $20
