.section
  .title Nail Care
  .content
    .row
      .desc Manicure
      .price $14
    .row
      .desc Wraps
      .price $50
    .row
      .desc Tips and Wraps
      .price $60
    .row
      .desc Fills-in
      .price $35
    .row
      .desc Pedicure
      .price $29
    .row
      .desc Hand Paraffin
      .price $8
