.section
  .title Skin Care
  .content
    .row
      .desc European Facial
      .price $85
    .row
      .desc Deep Cleaning Facial
      .price $80
    .row
      .desc Microdermabrasion
      .price $120
    .row
      .desc Collagen Veil Mask
      .price $30
