.section
  .title Waxing
  .content
    .row
      .desc Eyebrow
      .price $15
    .row
      .desc Lip
      .price $10
    .row
      .desc Chin
      .price $8
    .row
      .desc Forearms
      .price $15
    .row
      .desc Full Arms
      .price $30
    .row
      .desc Underarms
      .price $15
    .row
      .desc Back
      .price $45
    .row
      .desc Half Legs
      .price $25
    .row
      .desc Full Legs
      .price $50
    .row
      .desc Bikini Line
      .price $25
