.section
  .title Our Hours
  .content
    .row.bold
      .day Day
      .opening Opening
      .closing Closing
    .row
      .day Monday
      .opening Closed
      .closing Closed
    .row
      .day Tuesday
      .opening 9:30 am
      .closing 2:00 pm
    .row
      .day Wednesday
      .opening 9:30 am
      .closing 7:00 pm
    .row
      .day Thursday
      .opening 9:30 am
      .closing 6:00 pm
    .row
      .day Friday
      .opening 9:30 am
      .closing 5:00 pm
    .row
      .day Saturday
      .opening 9:30 am
      .closing 5:00 pm
    .row
      .day Sunday
      .opening Closed
      .closing Closed
