.main
  .title Contact The Classic Look Salon
  .model= image_tag '/assets/model.png', :alt => 'Hair Model'
  .text
    .section
      .title Contact Us
      .content
        Please call us during business hours regarding any question, concerns,
        or to schedule an appointment with our friendly, experienced and talented staff.
        Our phone number is
        %strong (973) 857-4353

    = render 'home/hours'
