.main
  .title The Classic Look Nail and Hair Salon
  .model= image_tag '/assets/model.png', :alt => 'Hair Model'
  .text
    .section
      .title The Goal of Creating Beauty
      .content
        The Classic Look is a full service salon combining state-of-the-art American
        cosmetology techniques with classic European hair, nail, and skincare secrets.
        Our staff, a seamless blend of European and American professionals, provide our
        clients with a myriad of services with a distinct cosmopolitan flair.
    .section
      .title Beauty Begins with a Blank Canvas
      .content
        Steeped in the European belief that all people are beautiful and beauty
        begins with healthy glowing skin, The Classic Look Salon offers the services of
        European trained beauticians. Most woman have the been programmed to think they
        need make-up in order to enhance their beauty, but with the proper skincare,
        make-up is an unnecessary expense and additive. The best testament to this theory
        is the healthy, radiant skin of our staff who exude youthful energy.

    .section
      .title A Woman's Crowning Glory
      .content
        The staff at The Classic Look Salon are true artists. In the hands of these
        trained professionals, your hair becomes everything you knew it could be.
        Their secret? Communicating with each client, discussing options, taking lifestyle
        and desires into consideration before a single strand is even snipped. Once they
        work their magic, you will be well on your way to becoming a new you.
