header
  @include border-bottom-radius(20px)
  background: url('/assets/midground.jpg') repeat
  font-family: 'Parisienne', cursive
  overflow: hidden
  margin: 10px 0
  border: $border

  .left-side
    border-right: $border
    text-align: center
    float: left
    width: 550px

    .main-title
      font-size: 4em

    .secondary-title
      font-size: 1.5em
      margin-top: -20px
      margin-left: 200px

    .links
      border-top: $border
      font-size: 1.5em
      padding: 10px 20px

      .link
        @include transition(all 0.4s ease-in-out)
        @include border-radius(6px)
        display: inline-block
        padding: 0 6px
        margin: 0 10px

        &:first-child
          margin-left: 4px

        &:last-child
          border: 0

        &:hover
          @include transform(scale(1.3))
          font-weight: bold

  .right-side
    text-align: center
    float: right
    width: 244px
    margin: 26px 0
    font-size: 1.5em
