%header
  .left-side
    .main-title
      The Classic Look

    .links
      .link= link_to 'Home', root_path
      .link= link_to 'Services', services_path
      .link= link_to 'Directions', directions_path
      .link= link_to 'Contact Us', contact_us_path

  .right-side
    .address
      .street 146 Bloomfield Ave
      .city-state Verona, NJ 07044
      .phone (973) 857-4353
