%header
  .left-side
    .main-title
      The Classic Look
    .secondary-title
      Hair and Nail Salon

    .links
      = link_to 'Home', root_path, :class => 'home'
      = link_to 'Services', services_path, :class => 'services'
      = link_to 'Directions', directions_path, :class => 'directions'
      = link_to 'Contact Us', contact_us_path, :class => 'contact-us'

  .right-side
    .address
      .street 146 Bloomfield Ave
      .city-state Verona, NJ 07044
      .phone (973) 857-4353
